@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Permanent+Marker');

.App {
  color: #fafafa;
  font-family: 'Nanum Gothic', sans-serif;
  user-select: none;
}

/* https://www.w3schools.com/howto/howto_css_fullscreen_video.asp */

.background {
  min-height: 100%;
  min-width: 100%; 
  position: fixed;
}

.content {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  text-align: center;
}

.button {
  color: #c7c7c7;
  cursor: pointer;
  fill: #c7c7c7;
  margin: 0 10px;
  position: fixed;
  text-align: center;
  transition: color .2s ease-out, fill .2s ease-out;
  width: 100px;
}

.prev {
  left: 0;
  top: 50%;
}

.next {
  right: 0;
  top: 50%;
}

.button:hover {
  color: #fafafa;
  fill: #fafafa;
}

.button:active {
  color: #c7c7c7;
  fill: #c7c7c7;
}

h1, h2, h3 {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}

h1 {
  font-size: 9em;
}

h2 {
  font-size: 6em;
}

h3 {
  font-size: 3em;
}

h5 {
  margin: 10px 0;
}

p {
  font-size: 1.5em;
  text-align: justify; 
}

.location {
  width: 60%;
}

.gangnam {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/bg-gangnam.jpg');
  background-size: cover;
}

.coex {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/bg-coex.jpg');
  background-size: cover;
}

.namsan {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/bg-namsan.jpg');
  background-size: cover;
}

.bukchon {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/bg-bukchon.jpg');
  background-size: cover;
}

.gyeongbok {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/bg-gyeongbok.jpg');
  background-size: cover;
}